body {
  height: 100%;
  width: 100%;
  background-image: url("https://picsum.photos/1920/1080");
  color: white;
  font-family: 'Roboto';
}

.call-button {
  font-size: 1.25em;
  padding: 10px 20px;
  color: #333;
  background-color: #ff0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.call-button:hover {
  background-color: #ffd700;
}

.bg-image {
  background-image: url("https://picsum.photos/1920/1080");
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgba(0, 0, 0, 0.666);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 50%;
  padding: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    background-image: url("https://picsum.photos/1080/1920");
  }

  .bg-image {
    background-image: url("https://picsum.photos/1080/1920");
  }
}

.footer {
  padding: 2px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Roboto';
  color: #ffffff50;
  text-transform: uppercase;
  z-index: 200;
}



.footer a {
  color: #d0d0d0;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  z-index: 200;
}

.footer a:hover {
  background-color: #d0d0d050;
  transition: all 1s ease;
}
